<form action="/mokejimoTipai/save" method="POST">
    {{#if id}}
    <input type="hidden" name="id" value="{{id}}">
    {{/if}}
    Pavadinimas: <input type="text" name="pavadinimas" value="{{ pavadinimas }}"><br>
    <input type="submit" value="Save">
</form>
<a href="/mokejimoTipai">Back</a>